{% extends 'base.html' %}
{% block content %}
    <h1>Galeria</h1>

    <ul>
        {% for task in tasks %}
        <div>
            <img src="../media/{{task.img}}" alt="no  encontrada"  width="100" height="100">
        </div>
        <li>
            <a href="{% url 'task_detail' task.id %}">
                {% if task.important %}
                <strong>{{task.title}}</strong>
            {% else %}
                <h1>{{task.title}}</h1>
            {% endif %}
            <p>{{task.description}}</p>
            <p>{{task.user.username}}</p>
            <p>{{task.datecompleted|date:'M j Y:i'}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock%}